.footer-text {
  text-align: center;

  font-weight: bold;
  font-family: "Google Sans Regular";
}

.footer-div {
  margin-top: 2rem;
}
.copyright-symbol {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 3px;
}
